# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties

# VS Code
.vscode/

# Visual Studio
.vs/
bin/
obj/

# Logs
*.log

# User files
*.user
*.suo

# Secrets
appsettings.Development.json
.idea/

**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

ios/Pods/
ios/.symlinks/

*.db